html{
    background-color: #1d1b1b;
}


.navbar
{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5C728A;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #f0f8ff;
    text-transform: uppercase;
    
}

.navbar ul li::after{
content: ''; 
height: 3px;
width: 0%;
background: #d2c1c1;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;
}


.navbar ul li:hover::after{
    width: 100%;

}

.logo
{
    
    width: 120px;
}

.banner
{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(Banner.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 0;

}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
    font-size: medium;
    color: #fff;
    margin: 3rem;
}
.quote
{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(quote.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 0;

}

.quotes{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    margin: 3px;
}


h2.tag
{
    color: #fff;
    text-align: center;
    font-family: Konit,sans-serif;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;


}

.container{
    width: 100%;
    height: auto;
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    gap: 15px;
 }
 
 .box{
     width: 160px;
     height: 240px;
     
     color: hsl(63, 58%, 41%);
     font-size: 1rem;
     
 }
 img.mywl{
    width: 146.88px;
    height: 205.12px;
    border-radius: 5%;
 }

 h2.anime
 {
    text-align: center;
    
 }
.himage
{
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
} 


a{
    color: #fdf7f7;
    text-decoration: none;
}

figcaption{
    text-align: center;
    font-family: Konit,sans-serif;
    font-size: 15px;
    padding: 5px;
}



.vertical-c{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;



}
button{
    background-color: gray;
    border: none;
    color: #eee9e9;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Konit,sans-serif;
}


footer{
    position: absolute;
    
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: peachpuff;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}